<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <!--KM系統Oracle資料庫-->
    <add name="ORDBConnectionString" connectionString="Data Source=(DESCRIPTION =&#xA;         (ADDRESS_LIST=&#xA;         (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.30)(PORT = 1521)))&#xA;    (CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = XEPDB1)))&#xA;  ;User ID=TPDBUSER;Password=@ISCOM7o598966;" providerName="System.Data.OracleClient" />

    <!--KM系統MSSQL資料庫-->
    <add name="MSDBConnectionString" connectionString="Data Source=192.168.1.30\SQL2016,1433;Initial Catalog=(新北警局KM系統)KMDB;User ID=allenli;Password=7o598966" providerName="System.Data.SqlClient" />
    <!--北市警原始資料庫 End-->
  </connectionStrings>
</configuration>