<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="192.168.1.29" />
    <add key="port" value="25" />
    <add key="SenderEmail" value="sendTEST@iscom.com.tw" />
    <add key="SenderPassword" value="" />
    <add key="RecipientEmail" value="ww90053@gmail.com" />
  </appSettings>
</configuration>
